@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300..800&display=swap');

:root {
  --bg: #a3a9aa;
  --header-bg:#8d8e8e;
  --text-color: #171717;
  --accent:#52d1dc;
  --accent2:#634b66;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1A1A1A;
    --header-bg:#111;
    --text-color: #ededed;
    --accent:#475b5a;
  }
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--bg);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
