@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',Arial,sans-serif;
    color:white;
}

body{
    background-color: #1d2128;
}

hr{
    background-color: rgba(229,229,229,0.2);
    border: 1px solid rgba(229,229,229,0.2);
}